/* Stili base */
body {
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}

h1, h2 {
    text-align: center;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

/* Stile per le liste */
ul {
    list-style-type: none;
}

li {
    margin: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #007BFF;
    color: white;
}
